<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="main" id="newpost">
    <img class="camera-bg" src="{{ url_for('video_feed') }}">
  </div>

  <div class="navbar">

    <button id="recordButton">
      <i class="fa fa-microphone fa-2x"></i>
    </button>

    <button id="listeningButton">
      <i class="fa fa-circle fa-2x"></i>
    </button>

    <span id="subtitle"></span>

  </div>

  <script src="{{ url_for('static', filename='recordAudio.js') }}"></script>

</body>

</html>