<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>

<title>Make - PiStream</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <div class="main" id="newpost">
    <img class="camera-bg" style="width: 100%; height:80%; background-attachment: fixed;" id="bg" class="center"
      src="{{ url_for('video_feed') }}">
  </div>

  <div class="top-right-logo">
    <a>Raspberry Pi - Camera Stream</a>
    <ol id="recordingsList"></ol>
  </div>

  <div class="navbar">

    <button id="recordButton">
      <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
    </button>

    <button id="listeningButton">
      <i class="fa fa-circle fa-2x" aria-hidden="true"></i>
    </button>

    <span id="subtitle"></span>

  </div>

  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="{{ url_for('static', filename='recordAudio.js') }}"></script>


</body>

</html>
